<%- include("header.ejs") -%>
    <%- include("navigation.ejs") -%>

        <section class="coming">
            <div class="grid">
                <div class="left">
                    <hgroup>
                        <h1>Anomaly FAQ</h1>
                        <p>In Ingress, anomalies are the most exciting kind of competitive event. Join the community in
                            Geneva for an unforgettable experience.</p>
                    </hgroup>
                </div>

                <div class="right">
                    <div class="accordion">
                        <% faqs.forEach((item, index)=> { %>
                            <div class="faq-item">
                                <button class="accordion-header <%= item.active ? 'active' : '' %>"
                                    aria-controls="faq-content-<%= index %>"
                                    aria-expanded="<%= item.active ? 'true' : 'false' %>">
                                    <%= item.question %>
                                </button>
                                <div id="faq-content-<%= index %>"
                                    class="accordion-content <%= item.active ? 'active' : '' %>" <%=item.active ? ''
                                    : 'hidden' %>>
                                    <p><%- item.answer %></p>
                                </div>
                            </div>
                            <% }); %>
                    </div>
                </div>
            </div>
        </section>



        <%- include("footer.ejs") -%>